

<div class="main">

    <h1>Ukuzivoqavoqa(Excising)</h1>
    <hr>
    
    <h2>PORTFOLIO</h2>
   
    
    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column">
        <div class="content">
          <img src="https://images.pexels.com/photos/1954524/pexels-photo-1954524.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Mountains" style="width:100%">
          <h3>Body Shaping Club</h3>
          <p>Verbal Contracts are about as a fart on a treadmill. Get unlimited Treadmill, you don't have to book in order to look sexy.</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="https://images.pexels.com/photos/260447/pexels-photo-260447.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Lights" style="width:100%">
          <h3>Boxing Club</h3>
          <p>Every champion was once a contender who refuses to give up, Unlimited boxing accesories, Really! you've got this.</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="https://images.pexels.com/photos/3984340/pexels-photo-3984340.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Nature" style="width:100%">
          <h3>Yoga and Meditation</h3>
          <p>Inhale the future and exhale the past, Flower doesn't blossom buy cometing with another flower next to it, It just blooms.</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="https://images.pexels.com/photos/3757941/pexels-photo-3757941.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Mountains" style="width:100%">
          <h3>Fitness Shop</h3>
          <p>Get everything that you need to be to look good while you working to be splended. Wok on that look while being healthy</p>
        </div>
      </div>